.tableDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.part2 {
  margin-top: 25%;
  margin-bottom: 10%;
  height: 40%;
}

.statisticsTable1,
.statisticsTable2 {
  color: #cf3d42;
  font-size: 3.5vw;
  text-align: left;

  padding: 1rem;
}

.firstRow {
  text-transform: uppercase;
}

.statisticsTable1 tr td,
.statisticsTable2 tr td {
  color: #fff;
}

tr {
  margin-bottom: 3rem;
}
